body{
	border : 1px solid black;
}

.row{
	margin : 2px;
}

#banner {
	color : black;
	height : 60px;
	display : block;
}

#nav {
	background : #e50016;
	color : white;
	height : 45px;
	display : block;
}

#banner_image{
	display : inline-block;
	height : 60px;
}

#banner_text{
	display : inline-block;
   	margin-bottom : 5px;
}

#logout{
	display : inline-block;
	float : right;
}

#user_infos{
	display :inline-block;
	float : right;
	height : 45px;
	padding-left : 5px;
	padding-right : 5px;
}

#nav_election_list {
	display : inline-block;
}

#nav_create_election {
	display : inline-block;
}

#errDiv {
   	color: red;
}

.underlined {
	border-bottom : 1px solid black;
	width : 50%;
	margin : auto;
}

.centered {
	text-align: center;
}

.clickable {
	height : 45px;
	padding-left : 5px;
	padding-right : 5px;
}

.clickable:hover {
	background : #82101C;
}

.list_item:hover {
	color : #7C838E;
}
